In [1]:
import pandas as pd
import numpy as np

In [2]:
negative_file = pd.read_table("windows_negative_left_51.txt", header=None)
positive_file = pd.read_table("windows_positive_left_51.txt", header=None)

In [3]:
negative_file.head(5)

,0,1,2,3,4,5,6,7,8,9,...,65,66,67,68,69,70,71,72,73,74
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
positive_file.head(5)

,0,1,2,3,4,5,6,7,8,9,...,65,66,67,68,69,70,71,72,73,74
0,2,5,0,9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,0
2,8,0,0,2,0,0,0,0,0,0,...,0,0,0,2,0,0,2,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,1,1,0,...,4,0,0,0,0,0,2,0,0,0

In [5]:
len(negative_file)

2092

In [6]:
array_positive = np.ones(len(positive_file), dtype=int)
array_negative = np.zeros(len(negative_file), dtype=int)

In [7]:
negative_file['target'] = array_negative
positive_file['target'] = array_positive

In [8]:
negative_file.head(5)

,0,1,2,3,4,5,6,7,8,9,...,66,67,68,69,70,71,72,73,74,target
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
positive_file.head(5)

,0,1,2,3,4,5,6,7,8,9,...,66,67,68,69,70,71,72,73,74,target
0,2,5,0,9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2,0,1
2,8,0,0,2,0,0,0,0,0,0,...,0,0,2,0,0,2,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,2,0,0,0,1

In [10]:
df = pd.concat([positive_file, negative_file])

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

In [12]:
X = df.drop(columns=['target'])

In [13]:
y = df['target']

# Cross - Validation

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

# Normalization

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Logistic regression

In [17]:
clf = LogisticRegression(random_state=0).fit(X_train, y_train)

In [18]:
y_pred = clf.predict(X_test)

In [19]:
clf.score(X_test, y_test)

0.7734225621414914

In [20]:
f1_score(y_pred, y_test)

0.7613293051359515

# Random Forest

In [21]:
from sklearn.ensemble import RandomForestClassifier

In [22]:
clf_r = RandomForestClassifier(max_depth=2, random_state=0).fit(X_train, y_train)
y_pred_r = clf_r.predict(X_test)

In [23]:
f1_score(y_pred_r, y_test)

0.6306098964326812

# Naive Bayess

In [24]:
from sklearn.naive_bayes import GaussianNB

In [25]:
gnb = GaussianNB()

In [26]:
y_pred_n = gnb.fit(X_train, y_train).predict(X_test)

In [27]:
f1_score(y_pred_n, y_test)

0.5948592411260709

# KNN

In [28]:
from sklearn.neighbors import KNeighborsClassifier

In [41]:
y_pred_neigh = KNeighborsClassifier(n_neighbors=3).fit(X_train, y_train).predict(X_test)

In [42]:
f1_score(y_pred_neigh, y_test)

0.6552119129438717

# Boosting

In [43]:
from xgboost import XGBClassifier

In [44]:
y_pred_boost = XGBClassifier().fit(X_train, y_train).predict(X_test)

In [45]:
f1_score(y_pred_boost, y_test)

0.7857829010566763

In [ ]:
!pip install catboost

In [47]:
from catboost import CatBoostClassifier

In [ ]:
y_pred_cat = CatBoostClassifier().fit(X_train, y_train).predict(X_test)

In [49]:
f1_score(y_pred_cat, y_test)

0.7902439024390244